<launch>

  <!-- First, launch "behavior_initial_pose" for the estimation of the initial pose of our robot. The node publishes over "behavior/initial_pose". -->
  <node name="simulation_core" pkg="simulation" type="simulation_core" output="screen">
  </node>

  <!-- First, launch "behavior_initial_pose" for the estimation of the initial pose of our robot. The node publishes over "behavior/initial_pose". -->
  <node name="simulation_gui" pkg="simulation" type="simulation_gui" output="screen">
  </node>

  <!-- Then, launch "behavior_head" for the rotation of the robot head. The node publishes the transformation "/robot_base" to "/robot_head". -->
  <node name="behavior_head" pkg="behavior" type="behavior_head" output="screen">
  </node>

  <!-- Then, launch "gait_odom_broadcaster". The node publishes the transformation "/odom" to "/robot_base".
  Output is the particle set published over topic "localization/particle_set" -->
  <node name="gait_odom_broadcaster" pkg="control" type="gait_odom_broadcaster" output="screen">
  </node>

  <!-- After, launch the "localization_module.launch". -->
  <include file="$(find localization)/launch/localization_module.launch"/>

  <!-- Then, launch "localization_visualization". Node creates visualization of the particles in our particle filter on the field.
  Output is published over the topic "localization/visualization" -->
  <node name="localization_visualization" pkg="localization" type="localization_visualization" output="screen">
  </node>

  <!-- Last, launch "image_view" to see the visualization results from topic "localization/particle_set" -->
  <!--
  <node name="image_view" pkg="image_view" type="image_view" respawn="true" output="screen">
      <remap from="image" to="localization/visualization"/>
      <param name="autosize" value="true" />
  </node>
  -->

</launch>
